<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My hobbies</title>
</head>

<body>

    <h3>Hobbies</h3>
    <ol>
        <li><a href="https://store.steampowered.com/">Videogames</a></li>
        <li><a href="https://www.buscalibre.com.co/">Books</a></li>
        <li><a href="https://i.pinimg.com/736x/3c/12/44/3c12444381e12c3cd453b3a463173ac0.jpg">Short walks</a></li>
    </ol>

</body>

</html>