<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>💻 Thomas Ramirez - Personal Site 💻</title>
</head>

<body>
    <table cellspacing="20">
        <tr>
            <td><img src="./static/images/toto-croped-circle.png" alt="Thomas' profiler picture" height="150"></td>
            <td>
                <h1>Thomas Ramirez-Rozo</h1>
                <p><em>SAP BTP Consultant</em></p>
                <p>Electronic Engineer with Magister in Industrial Automation. I like books, videogames and jogging</p>
            </td>
        </tr>
    </table>
    <hr>
    <h3>Education</h3>
    <ul>
        <li>Electronic Engineer - Universidad Nacional de Colombia</li>
        <li>Magister in Enginner: Industrial Automation - Universidad Nacional de Colombia</li>
        <li>MisionTIC 2022 - Universidad de Caldas</li>
        <li>Bot Building with SAP Intelligent RPA 2.0 Track (2022 Edition)</li>
        <li>Chatbot Building with SAP Conversational AI Track (2022 Edition)</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table>
        <thead>
            <tr>
                <th>Dates</th>
                <th>Work</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2015 - 2019</td>
                <td>Experiencie in teching</td>
            </tr>
            <tr>
                <td>2022</td>
                <td>SAP BTP Consultant</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
        <tr>
            <td>
                <table cellspacing="10">
                    <tr>
                        <td>HTML</td>
                        <td>⭐⭐⭐⭐⭐</td>
                        <td>Drawing</td>
                        <td>⭐</td>
                    </tr>
                    <tr>
                        <td>CSS</td>
                        <td>⭐⭐⭐</td>
                        <td>Painting</td>
                        <td>⭐</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <a href="/hobbies.html">My Hobbies</a> <br>
    <a href="contactme.html">Contact me</a> <br>
</body>

</html>